<script src="./dles/js/header.js"></script>
<div class="header-wrap">
  <div class="header-inner">
    <div class="header-top">
      <div class="header-left">
        <h1 class="logo">
          <a href="./index.html">
            <img src="./dles/img/logo-m.png" class="pc-view" alt="로고" />
            <img src="./dles/img/logo-m.png" class="mo-view" alt="로고" />
          </a>
        </h1>
      </div>
      <div class="header-right">
        <ul class="gnb">
          <li><a href="./index.html">Home</a></li>
          <li><a href="#about">About Me</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#etc">Etc</a></li>
          <li class="red"><a href="#contact">Contect Me</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
